In [ ]:
import numpy as np
import pandas as pd
import re
import nltk
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import  train_test_split

In [ ]:
#load the dataset
suicide_data = pd.read_csv('/content/drive/MyDrive/Thesis/suicide_data_cleaned1.csv')

In [ ]:
#first 10 row from dataset
suicide_data.head(10)

,Unnamed: 0,post_id,text,labels,suicide_class
0,0,wfimt,motiv first post reddit time ago want chang li...,0,Suicide
1,1,1bsqv3,simpl question transfer acc anoth server hi ha...,1,Non_Suicide
2,2,1dr0xf,simpl question get unnban hi simpl question ge...,1,Non_Suicide
3,3,1e0noi,win noy fault hi play eu west diamond right dr...,1,Non_Suicide
4,4,1f0y6g,diamond mrr rest switch server eu go back west...,1,Non_Suicide
5,5,1g4s52,scare next ban hi guy alreadi get one perm ban...,1,Non_Suicide
6,6,1it5ts,player huge impact lose game want report every...,1,Non_Suicide
7,7,1sge5s,short question short stori pls help decid hi l...,1,Non_Suicide
8,8,1sjbf9,mayb right time fa mayb right moment face fuck...,0,Suicide
9,9,226mcd,conclus think suicid room well want share some...,0,Suicide

In [ ]:
suicide_data.shape

(698997, 5)

In [ ]:
suicide_data.isnull().sum()

Unnamed: 0         0
post_id            0
text             166
labels             0
suicide_class      0
dtype: int64

In [ ]:
#replacing missing value with null string
suicide_data = suicide_data.fillna('')

k-means

In [ ]:
from sklearn.cluster import KMeans
from sklearn.metrics import accuracy_score

In [ ]:
# Vectorize the text data using TF-IDF
vectorizer = TfidfVectorizer(stop_words='english')
X = vectorizer.fit_transform(suicide_data['text'])

In [ ]:
# Perform k-means clustering
kmeans = KMeans(n_clusters=2,init='random',n_init=10,max_iter=500)
clusters = kmeans.fit_predict(X)

In [ ]:
# Calculate accuracy
y_true = suicide_data['labels']
y_pred = clusters
accuracy = accuracy_score(y_true, y_pred)

In [ ]:
# Print the accuracy
print('Accuracy:', accuracy)

Accuracy: 0.9691686802661528

hierarchical clustering

In [ ]:
suicide_data = suicide_data.sample(n=5000, replace=False)
suicide_data.reset_index(inplace=True)
suicide_data

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import AgglomerativeClustering
from sklearn.metrics import accuracy_score

In [ ]:
# Vectorize the text data using TF-IDF
vectorizer = TfidfVectorizer(stop_words='english')
X = vectorizer.fit_transform(suicide_data['text'])

In [ ]:
# Perform hierarchical clustering
agg_clustering = AgglomerativeClustering(n_clusters=2)
clusters = agg_clustering.fit_predict(X.toarray())
#aggC = AgglomerativeClustering(n_clusters=2, distance_threshold=1.0, linkage="single")
#clusters = aggC.fit_predict(X.toarray())

In [ ]:
# Calculate accuracy
y_true = suicide_data['labels']
y_pred = clusters
accuracy = accuracy_score(y_true, y_pred)

In [ ]:
# Print the accuracy
print('Accuracy:', accuracy)

Accuracy: 0.7754

PAM

In [ ]:
!pip install scikit-learn-extra

In [ ]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn_extra.cluster import KMedoids
import re
from sklearn.metrics import accuracy_score

In [ ]:
# Vectorize text data
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(suicide_data['text'])

In [ ]:
cos_sim = cosine_similarity(X)
dissimilarity_matrix = 1 - cos_sim

In [ ]:
dissimilarity_matrix += 0.00001

In [ ]:
# Calculate pairwise cosine similarity
#cos_sim = cosine_similarity(X)

# PAM algorithm
n_clusters = 2
kmedoids = KMedoids(n_clusters=n_clusters, metric='precomputed', init='k-medoids++', max_iter=100)
clusters = kmedoids.fit_predict(dissimilarity_matrix)

In [ ]:
# Calculate accuracy
actual_labels = suicide_data['labels']
predicted_labels = np.zeros(len(suicide_data))
predicted_labels[clusters == 1] = 1
accuracy = accuracy_score(actual_labels, predicted_labels)
print(f'Accuracy: {accuracy:.2f}')

Accuracy: 0.70

In [ ]:
# Print results
for i in range(n_clusters):
    print(f'Cluster {i}:')
    cluster_data = suicide_data[clusters == i]
    print(cluster_data['text'].values)
    print('\n')